<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="navbar">
  <a href="#" class="toggle" id="navHamburger"></a>
  <i class="fas fa-bars"></i>
  <a href="#" class="Link">Home</a>
  <div class="left">
    <a href="#" class="link">Helloo</a>
    <a href="#" class="link">Bonjour</a>
  </div>
  <div class="right">
    <a href="#" class="link">OMG</a>

  </div>
</div>

<!-- <script>
  const navHamburger = document.queryselector('#navHamburger');

  navHamburger.addEventListener('click', (e)=>{
    navHamburger.parentElement.classList.toggle('active');
  })
</script> -->

<div class="container">
          <div class="card">
            <div class="card-avatar">
              <img class="card-avatar" src="https://scontent.fbru2-1.fna.fbcdn.net/v/t1.0-1/p320x320/12418087_10153839925451119_3103637665802170386_n.jpg?_nc_cat=101&_nc_ht=scontent.fbru2-1.fna&oh=34b02e1fb29a70602824559cf0cf0b82&oe=5C6C086E" alt="Juan">
            </div>
            <div class="card-title">
              <h3>Juanito</h3>
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

            <div class="wrapper">
              <div class="btn">
          <button type="button "href="https://www.linkedin.com/in/juan-david-casas-cano-493b4573/" >Profil Linkedin</button>
              </div>
            </div>
          </div>


          <footer>
            <ul>
              <li><a href="https://www.linkedin.com/in/juan-david-casas-cano-493b4573/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png" alt="logo-linkedin"></a></li>
              <li><a href="https://www.facebook.com/brad.pina"><img src="http://www.trelaze.fr/wp-content/uploads/2017/02/logo-facebook.png" alt="logo-facebook"></a></li>
              <li><a href="https://twitter.com/life_engineer"><img src="http://eduscol.education.fr/cnraa/cnractua/images/logo-officiel-twitter.png/@@images/image.png" alt="logo-twitter"></a></li>
              <li><a href="https://www.instagram.com/?hl=fr"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/480px-Instagram_icon.png" alt="logo-instagram"></a></li>
              <li class="footer_text">© Juan Casas</li>
            </ul>
          </footer>
